<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
      <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nemo, nulla aliquam perspiciatis
          doloribus
          quas iusto quidem vitae. Quo modi cupiditate laboriosam impedit exercitationem temporibus alias et laudantium
          iure
          tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nemo, nulla aliquam perspiciatis
          doloribus
          quas iusto quidem vitae. Quo modi cupiditate laboriosam impedit exercitationem temporibus alias et laudantium
          iure
          tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nemo, nulla aliquam perspiciatis
          doloribus
          quas iusto quidem vitae. Quo modi cupiditate laboriosam impedit exercitationem temporibus alias et laudantium
          iure
          tempora.</p>
      </div>
      <%- include('./partials/footer.ejs') %>

  </body>

</html>